.navbar-default,
.panel-default>.panel-heading,
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover {
    background-color: #ffc107 !important;
    border-color: #e7e7e7 !important;
    color: black;
}
.navbar-brand {
    padding: 0px;
}
.logo {
    width: auto;
    height: 55px;
}